obj
bin
/Src/SharedLibrary/Core.Insfrastructure/obj
/Src/SharedLibrary/Core.Insfrastructure/bin
*.user
*.json
*.vsidx
*.v2
*.suo
*.wsuo
/.vs/Lites/config/applicationhost.config
/.vs/ProjectEvaluation
/Src/Services/MasterService/Master.Service/Properties/PublishProfiles
/Src/Services/CaseService/CaseService/Properties/PublishProfiles
/Src/Services/ReportService/ReportService/Properties/PublishProfiles
/Src/ApiGateway/ApiGateway.Web/Logs/ErrorLog/2024-10-16.txt
/Src/Services/CaseService/CaseService/appsettings.json
/Src/Services/MasterService/Master.Service/appsettings.json
/Src/Services/MasterService/Master.Service/Uploads
/.vs/Lites/v17
/Src/Services/MasterService/Master.Data/Database1.cs
/Src/Services/MasterService/Master.Data/Database1.tt
/Src/Services/MasterService/Master.Data/Database1Audit.txt
/Src/Services/MasterService/Master.Data/EF.Reverse.POCO.v3.ttinclude
/Src/Services/EcourtServices/EcourtService/Properties/PublishProfiles/FolderProfile.pubxml
/Src/Services/EHcourtService/HighCourt.Service/Properties/PublishProfiles/FolderProfile.pubxml
/Src/ApiGateway/ApiGateway.Web/Logs/ErrorLog/2025-01-17.txt
/Src/ApiGateway/ApiGateway.Web/Properties/PublishProfiles/FolderProfile.pubxml
/Src/ApiGateway/LitesApi.Gateway/Properties/PublishProfiles/FolderProfile.pubxml
/Src/Services/MasterService/Master.Service/logs/log-20250131.txt
/Src/Services/MasterService/Master.Service/logs/log-20250204.txt
/Src/Services/MasterService/Master.Service/logs/MyAppLog-20250131.txt
/Src/Services/MasterService/Master.Service/logs/MyAppLog-20250204.txt
/Src/Services/Schedulers/Email/Email.Service/Properties/launchSettings.json
/Src/Services/Schedulers/Email/Email.Service/ExcelExports/EmailHistory_2_Court Order Pending For Compliance Alert_2025-02-26.xlsx
/Src/Services/Schedulers/Hearing/NextHearing.Service/Properties/PublishProfiles/FolderProfile.pubxml
/Src/Services/CaseService/CaseService/Uploads/CaseFileRegistor
